# 数据分析

## 数据描述

### 其中训练集分为两个部分：

#### `train_July.csv`
7月每一天的订单数据，各个字段含义如下：

 |  字段名称	 |  字段含义	 |  数据示例 | 
  | --- | --- | 
 |  id	 |  订单id的hash值	 |  583411b46a31bcc5d12d4402c928a146 | 
 |  driver_id	 |  司机id的hash值（未出行成功则为一个特殊司机编号） | 	 3e69e17a6e5a726fe44d71896bee4f32 | 
 |  menber_id	 |  乘客id的hash值	  | 6b4d6e4992191fe96b9f27921520d551 | 
 |  create_date | 	 订单创建日期	 |  2017-07-01 | 
 |  create_hour	 |  订单创建时间（0-23小时） | 	 00 | 
 |  status	  | 订单状态：0是未预约成功，1是预约取消，2是出行成功	 |  2 | 
 |  estimate_money	 |  预估行程金额（元） | 	 140.00 | 
 |  estimate_distance | 	 预估行程距离（米） | 	 20099.00 | 
 |  estimate_term | 	 预估行程时间（分钟）	 |  18.00 | 
 |  start_geo_id | 	 起点区域id的hash值	 |  6d7827e8dcfa09497954a31e6f7e6ee6 | 
 |  end_geo_id	 |  终点区域id的hash值 | 	 85e49ded1fa70a7bfa01ab0212a6e538 | 
 

#### `train_Aug.csv`

8月1日至8月7日部分时间段的订单数据，其中奇数日期内选取了偶数小时的订单，偶数日期内选取了奇数小时的订单（例如： 8月1日8时/10时/12时，8月2日7时/9时/11时）。

各字段含义与7月训练数据`train_July.csv`完全相同。

### 测试集分为public set和private set两部分：

#### `test_id_Aug_agg_public5k.csv`
这部分数据给出了8月1日至8月7日的部分时间段，以及起点区域和终点区域，要求选手预测其订单数量。其中奇数日期对应奇数小时，偶数日期对应偶数小时，同训练数据train_Aug.csv在时间上互补。各个字段含义如下：

| 字段名称 |  字段含义	 |  数据示例 | 
 | --- | --- | 
 |  test_id	 |  该条测试用例的id	 |  1 | 
 |  start_geo_id | 	 起点区域id的hash值 | 	 6d7827e8dcfa09497954a31e6f7e6ee6 | 
 |  end_geo_id	 |  终点区域id的hash值 | 	 85e49ded1fa70a7bfa01ab0212a6e538 | 
 |  create_date	 |  订单创建日期	 |  2017-08-01 | 
 |  create_hour	 |  订单创建时间（0-23小时）	 |  01 | 
 

此部分数据为public set。

选手在10月16日至1月12日内需要根据这部分数据提交预测结果，并可以在排行榜查看临时成绩。
 

#### `test_id_Aug_agg_private5k.csv`

数据含义和test_Aug_agg_public5k.csv完全相同，但是数据内容与之不同。

此部分数据为private set，该文件在2018-1-12开放下载。

选手在最后3天（即1月12日至1月15日）需要根据这部分数据提交预测结果，最终比赛结果以此结果为准。
 

>关于数据集的其他说明：

>1. 不同的区域id，代表互不重叠的地图区域，起点区域和终点区域有可能相同

>2. 所有测试集中会有部分数据的实际订单量为0

### 其他数据：

#### `poi.csv`

某一区域内各类POI(point of interest)的数量。

其中第一列为区域id的hash值（与训练及测试数据中的区域对应），后面分别为各类POI的类型及数量，例如：
```
3d99665144344fc090b5b7450ffe72f5,加油站,4,超市,43,住宅区,151,地铁站,4,公交站,36,咖啡厅,22,中餐厅,597,ATM,59,写字楼,47,酒店,45
```

表示该区域内有加油站4个，超市43个，等等

#### `weather.csv`

训练集与测试集所涉及的时间段内的天气情况（有极少部分缺失）。

各个字段含义如下：

 |  字段名称	 |  字段含义	 |  数据示例 | 
  | --- | --- | 
 |  date	 |  日期（精确至半小时） | 	 2017-7-1 0:30 | 
 |  text	 |  天气现象文字 | 	 晴 | 
 |  code	 |  天气现象代码 | 	 1 | 
 |  temperature | 	 温度 | 	 29 | 
 |  feels_like | 	 体感温度	 |  28 | 
 |  pressure | 	 气压 | 	 998 | 
 |  humidity	 |  相对湿度	 |  62 | 
 |  visibility	 |  能见度	 |  9.3 | 
 |  wind_direction	 |  风向文字	 南 | 
 |  wind_direction_degree	 |  风向角度，范围0-360，0为正北，90为正东，180为正南，270为正西 | 	 200 | 
 |  wind_speed	 |  风速 | 	 8 | 
 |  wind_scale	 |  风力等级	 |  2 |

### 提交格式

选手提交的文件须为UTF-8编码(无BOM)的csv格式文件. 数据只需要2列：public set/private set的test_id，和额外加一列并命名为”count”（不含引号），并将预测结果写入这一列。预测结果可以使用浮点数，比如5.3表示比5多一点但不到6. 提交示例如下：

          test_id,count

          0,1

          1,5.3

          ....

 

选手亦可在数据页面下载sample submission作为格式参考.

### 评价指标：

评价指标为MAE(mean absolute error), 即预测值与真实值的绝对误差，并取平均数：
$$ MAE=\frac{1}{n}\sum_{i=1}^{n}|y_i - \hat{y_i}| $$

## 数据预处理

In [1]:
from config import opt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
print(opt.train_file_0, opt.train_file_1)
print(opt.other_file_0, opt.other_file_1)

train_data_july = pd.read_csv(opt.train_file_0)
train_data_aug = pd.read_csv(opt.train_file_1)

other_data_weather = pd.read_csv(opt.other_file_0)
other_data_poi = pd.read_csv(opt.other_file_1)

./data/train/train_July.csv ./data/train/train_Aug.csv
./data/other/weather.csv ./data/other/poi.csv

### observe

#### train_data_july

In [3]:
train_data_july.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892518 entries, 0 to 892517
Data columns (total 11 columns):
id                   892518 non-null object
driver_id            892518 non-null object
member_id            892518 non-null object
create_date          892518 non-null object
create_hour          892518 non-null int64
status               892518 non-null int64
estimate_money       892518 non-null float64
estimate_distance    892518 non-null float64
estimate_term        892518 non-null float64
start_geo_id         892518 non-null object
end_geo_id           892518 non-null object
dtypes: float64(3), int64(2), object(6)
memory usage: 74.9+ MB

In [4]:
train_data_july.head()

,id,driver_id,member_id,create_date,create_hour,status,estimate_money,estimate_distance,estimate_term,start_geo_id,end_geo_id
0,583411b46a31bcc5d12d4402c928a146,3e69e17a6e5a726fe44d71896bee4f32,6b4d6e4992191fe96b9f27921520d551,2017-07-01,0,2,140.00,20099.0,18.0,6d7827e8dcfa09497954a31e6f7e6ee6,85e49ded1fa70a7bfa01ab0212a6e538
1,396b6e317f915352d3a19f61d2657c46,034f5860624827a65191a9be919fbb3d,c7c93facfd1b10d4e75ff14f479484e2,2017-07-01,0,2,78.00,9000.0,18.0,27d75f17e61587172fe7a6827bbaa198,f5dc996f6aa097f7a84a9bcfe58ed55c
2,c0badb35d04b00b06c54a285abde6e1b,d41d8cd98f00b204e9800998ecf8427e,8325f79b82f697dcce557b4a08f2ae5d,2017-07-01,0,1,86.23,10323.0,20.0,f92dfcc31699ad56d967a57673b8fc65,8c269e40d177f46840aff30baeb25e29
3,9c67ee57c2217c3b2211a66b120d77b2,e4c4e24edd254bb81fc6e3fe7a1a5dd4,bee163f2587d01a9fd9070be4c1e24fc,2017-07-01,0,1,81.88,14197.0,27.0,92e1e8020813ef939183e345626b442a,f80c4ceeb36264b42e34d6c4c2cb9b4c
4,fbd6734ac4938fab06546db06de9b3a9,d41d8cd98f00b204e9800998ecf8427e,644f9f79d6a02a71f048562aad301642,2017-07-01,2,1,217.01,39150.0,40.0,ca902ab284d4bb9e8c2a0bb58d55cf7b,6da3e22032d543214b2893d1c9f2b9e1

In [5]:
train_data_july.describe()

,create_hour,status,estimate_money,estimate_distance,estimate_term
count,892518.000000,892518.000000,892518.000000,892518.000000,892518.000000
mean,14.214483,1.320110,75.715442,11039.595595,19.397473
std,5.773804,0.841705,66.839469,9939.829272,14.302898
min,0.000000,0.000000,15.000000,0.000000,0.000000
25%,9.000000,1.000000,41.000000,4777.000000,9.000000
50%,15.000000,2.000000,60.000000,8468.000000,16.000000
75%,19.000000,2.000000,91.280000,14603.000000,26.000000
max,23.000000,2.000000,5077.100000,499426.000000,497.000000

#### other_data_weather

In [6]:
other_data_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1776 entries, 0 to 1775
Data columns (total 12 columns):
date                     1776 non-null object
text                     1776 non-null object
code                     1776 non-null int64
temperature              1776 non-null int64
feels_like               1775 non-null float64
pressure                 1776 non-null int64
humidity                 1776 non-null int64
visibility               1775 non-null float64
wind_direction           1776 non-null object
wind_direction_degree    1776 non-null int64
wind_speed               1776 non-null float64
wind_scale               1776 non-null int64
dtypes: float64(3), int64(6), object(3)
memory usage: 166.6+ KB

In [7]:
other_data_weather.head()

,date,text,code,temperature,feels_like,pressure,humidity,visibility,wind_direction,wind_direction_degree,wind_speed,wind_scale
0,2017-7-1 0:30,晴,1,29,28.0,998,62,9.3,南,200,9.00,2
1,2017-7-1 1:00,晴,1,28,28.0,998,63,7.7,西南,233,7.92,2
2,2017-7-1 1:30,晴,1,28,28.0,998,65,7.7,南,197,7.20,2
3,2017-7-1 2:00,晴,1,28,27.0,998,66,7.7,西南,233,9.00,2
4,2017-7-1 2:30,晴,1,28,27.0,998,67,6.6,南,180,7.20,2

In [8]:
other_data_weather.describe()

,code,temperature,feels_like,pressure,humidity,visibility,wind_direction_degree,wind_speed,wind_scale
count,1776.000000,1776.000000,1775.000000,1776.000000,1776.000000,1775.000000,1776.000000,1776.000000,1776.000000
mean,4.052928,28.350225,27.852958,999.824324,68.809122,10.682986,10279.032095,8.551689,1.913851
std,2.937952,3.637067,3.597618,4.185097,14.379725,8.364376,100076.127726,4.678441,0.778521
min,0.000000,20.000000,19.000000,990.000000,25.000000,0.700000,0.000000,0.000000,0.000000
25%,4.000000,26.000000,26.000000,997.000000,60.000000,4.500000,76.000000,5.400000,1.000000
50%,4.000000,28.000000,28.000000,1000.000000,69.000000,7.900000,169.000000,7.560000,2.000000
75%,4.000000,31.000000,31.000000,1003.000000,80.000000,14.750000,222.000000,10.800000,2.000000
max,15.000000,38.000000,37.000000,1010.000000,96.000000,35.000000,999017.000000,39.240000,6.000000

#### other_data_poi

In [9]:
other_data_poi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1233 entries, 0 to 1232
Data columns (total 21 columns):
829fd9e04ed5f0e2148096737edb8a73    1233 non-null object
加油站                                 1233 non-null object
0                                   1233 non-null int64
超市                                  1233 non-null object
0.1                                 1233 non-null int64
住宅区                                 1233 non-null object
1                                   1233 non-null int64
地铁站                                 1233 non-null object
0.2                                 1233 non-null int64
公交站                                 1233 non-null object
2                                   1233 non-null int64
咖啡厅                                 1233 non-null object
0.3                                 1233 non-null int64
中餐厅                                 1233 non-null object
0.4                                 1233 non-null int64
ATM                                 1233 non-null object
0.5                                 1233 non-null int64
写字楼                                 1233 non-null object
0.6                                 1233 non-null int64
酒店                                  1233 non-null object
0.7                                 1233 non-null int64
dtypes: int64(10), object(11)
memory usage: 202.4+ KB

In [10]:
other_data_poi.head()

,829fd9e04ed5f0e2148096737edb8a73,加油站,0,超市,0.1,住宅区,1,地铁站,0.2,公交站,...,咖啡厅,0.3,中餐厅,0.4,ATM,0.5,写字楼,0.6,酒店,0.7
0,3d99665144344fc090b5b7450ffe72f5,加油站,4,超市,43,住宅区,151,地铁站,4,公交站,...,咖啡厅,22,中餐厅,597,ATM,59,写字楼,47,酒店,45
1,f524dc6b89fcb9e4a9688c0cb7b2bdb7,加油站,0,超市,0,住宅区,0,地铁站,0,公交站,...,咖啡厅,0,中餐厅,0,ATM,0,写字楼,0,酒店,0
2,0613fd690240317177a03a0b26ca8591,加油站,4,超市,32,住宅区,50,地铁站,3,公交站,...,咖啡厅,6,中餐厅,509,ATM,20,写字楼,9,酒店,27
3,687ea595a01fdc18ad438f0d0a325102,加油站,0,超市,3,住宅区,1,地铁站,0,公交站,...,咖啡厅,0,中餐厅,6,ATM,0,写字楼,0,酒店,1
4,3bee6a7b93130a1359165736c6ea0850,加油站,0,超市,0,住宅区,0,地铁站,0,公交站,...,咖啡厅,0,中餐厅,0,ATM,0,写字楼,0,酒店,0

In [ ]:
other_data_poi.describe()

,0,0.1,1,0.2,2,0.3,0.4,0.5,0.6,0.7
count,1233.000000,1233.000000,1233.000000,1233.000000,1233.000000,1233.000000,1233.000000,1233.000000,1233.000000,1233.000000
mean,0.883212,6.021087,16.314680,0.412003,10.910787,2.607461,77.469586,5.944039,5.367397,7.694242
std,1.678063,11.775134,43.527345,1.179747,16.245134,14.556986,181.245477,17.579115,21.175990,23.318826
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,1.000000,0.000000,6.000000,0.000000,4.000000,0.000000,0.000000,0.000000
75%,1.000000,6.000000,9.000000,0.000000,14.000000,0.000000,35.000000,2.000000,1.000000,4.000000
max,23.000000,172.000000,324.000000,10.000000,202.000000,334.000000,900.000000,189.000000,310.000000,279.000000

### plot

In [ ]:
from pyecharts import Scatter

v1 = [a for a in train_data_aug.iloc[5]]
v2 = [b for b in train_data_aug.iloc[6]]
scatter = Scatter("散点图示例")
scatter.add("A", v1, v2)
scatter.add("B", v1[::-1], v2)
scatter

In [ ]:
plt.figure()

# 订单状态与预估行程金额的关系
plt.subplot(3, 1, 1)
sns.countplot(x='status', hue='estimate_money', data=train_data_aug)

KeyboardInterrupt:

In [ ]:
# 订单状态与预估行程距离的关系
plt.subplot(3, 1, 2)
sns.countplot(x='status', hue='estimate_distance', data=train_data_aug)

In [ ]:
# 订单状态与预估行程时间的关系
plt.subplot(3, 1, 3)
sns.countplot(x='status', hue='estimate_term', data=train_data_aug)

In [ ]:
# 多变量关系
sns.pairplot(train_data_july, hue='status', vars=["estimate_money", 'estimate_distance', 'estimate_term'])